
*.log
*.index
*.tree
*.resources
*.xmi
.metadata
.metadata/.ide.log
.metadata/.log
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/AUDIO/.indexes/bf/c4/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/AUDIO/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/LAB3/.markers
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/version.ini
*.resources
*.index
*.log
*.pdom
*.dat
.metadata/.plugins/org.eclipse.cdt.core/AUDIO.1666630471991.pdom
.metadata/.plugins/org.eclipse.cdt.ui/AUDIO.build.log
.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
.metadata/.plugins/org.eclipse.core.resources/.projects/AUDIO/.indexes/1/ce/a6/e4/4b/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/AUDIO/.indexes/1/ce/a6/e4/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/AUDIO/.indexes/bf/be/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/AUDIO/.indexes/bf/be/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/AUDIO/.indexes/bf/c4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/AUDIO/.indexes/bf/c4/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/AUDIO/.indexes/d5/13/76/61/d6/78/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/AUDIO/.indexes/d5/63/be/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/AUDIO/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/AUDIO/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/AUDIO/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/AUDIO/.markers
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2022/10/44/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2022/10/44/refactorings.index
.metadata/.log
.metadata/.plugins/org.eclipse.cdt.ui/AUDIO.build.log
.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
.metadata/.plugins/org.eclipse.cdt.ui/LAB3.build.log
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2022/10/44/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2022/10/44/refactorings.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.mk
*.o
*.d
*.su
*.list
*.o
AUDIO/Debug/sources.mk
AUDIO/Debug/objects.list
AUDIO/Debug/Middlewares/Third_Party/FatFs/src/subdir.mk
AUDIO/Debug/Middlewares/Third_Party/FatFs/src/option/syscall.o
AUDIO/Debug/Middlewares/Third_Party/FatFs/src/option/syscall.d
AUDIO/Debug/Middlewares/Third_Party/FatFs/src/option/subdir.mk
AUDIO/Debug/Middlewares/Third_Party/FatFs/src/ff_gen_drv.o
AUDIO/Debug/Middlewares/Third_Party/FatFs/src/ff_gen_drv.d
AUDIO/Debug/Middlewares/Third_Party/FatFs/src/ff.o
AUDIO/Debug/Middlewares/Third_Party/FatFs/src/ff.d
AUDIO/Debug/Middlewares/Third_Party/FatFs/src/drivers/sd_diskio.su
AUDIO/Debug/Middlewares/Third_Party/FatFs/src/drivers/sd_diskio.o
AUDIO/Debug/Middlewares/Third_Party/FatFs/src/diskio.su
AUDIO/Debug/Middlewares/Third_Party/FatFs/src/diskio.o
AUDIO/Debug/Middlewares/Third_Party/FatFs/src/diskio.d
AUDIO/Debug/makefile
AUDIO/Debug/FATFS/Target/subdir.mk
AUDIO/Debug/FATFS/Target/bsp_driver_sd.su
AUDIO/Debug/FATFS/Target/bsp_driver_sd.o
AUDIO/Debug/FATFS/App/subdir.mk
AUDIO/Debug/FATFS/App/fatfs.o
AUDIO/Debug/FATFS/App/fatfs.d
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/subdir.mk
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_ll_sdmmc.o
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_ll_sdmmc.d
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_ll_fsmc.o
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_ll_fsmc.d
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_tim_ex.o
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_tim_ex.d
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_tim.o
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_tim.d
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_sram.o
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_sram.d
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_sd.o
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_sd.d
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_rcc_ex.o
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_rcc_ex.d
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_rcc.o
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_rcc.d
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_pwr.o
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_pwr.d
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_gpio_ex.o
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_gpio_ex.d
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_gpio.o
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_gpio.d
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_flash_ex.o
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_flash_ex.d
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_flash.o
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_flash.d
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_exti.o
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_exti.d
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_dma.o
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_dma.d
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_dac_ex.o
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_dac_ex.d
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_dac.o
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_dac.d
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_cortex.o
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_cortex.d
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal.o
AUDIO/Debug/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal.d
AUDIO/Debug/Core/Src/system_stm32f1xx.o
AUDIO/Debug/Core/Src/system_stm32f1xx.d
AUDIO/Debug/Core/Src/sysmem.o
AUDIO/Debug/Core/Src/syscalls.o
AUDIO/Debug/Core/Src/subdir.mk
AUDIO/Debug/Core/Src/stm32f1xx_it.su
AUDIO/Debug/Core/Src/stm32f1xx_it.o
AUDIO/Debug/Core/Src/stm32f1xx_it.d
AUDIO/Debug/Core/Src/stm32f1xx_hal_msp.su
AUDIO/Debug/Core/Src/stm32f1xx_hal_msp.o
AUDIO/Debug/Core/Src/stm32f1xx_hal_msp.d
AUDIO/Debug/Core/Src/main.su
AUDIO/Debug/Core/Src/main.o
AUDIO/Debug/Core/Src/main.d
AUDIO/Debug/Core/Src/lcd.o
AUDIO/Debug/Core/Src/lcd.d
AUDIO/Debug/AUDIO.map
AUDIO/Debug/AUDIO.list
AUDIO/Debug/AUDIO.elf
